/* Reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative; /* Added to support absolute positioning of the toggle button */
}

.brand-title {
    font-size: 1.5em;
}

.navbar-links ul {
    list-style: none;
}

.navbar-links li {
    display: inline;
    padding: 0 20px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #0088a9;
}

/* Hamburger button styles */
.toggle-button {
    display: none; /* Hidden by default */
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Ensures it is on top of other elements */
}

.toggle-button .bar {
    display: block; /* Ensures bars are shown */
    height: 2px;
    width: 25px;
    background-color: white;
    margin: 5px 0; /* Adjust spacing between bars if needed */
}

/* Responsive styles */
@media (max-width: 600px) {
    .navbar {
        position: relative; /* Ensure navbar is positioned to contain absolute children */
    }

    .navbar-links {
        position: absolute;
        top: 80px; /* Adjust based on your navbar height */
        left: 0;
        right: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #333; /* Same as navbar for consistency */
        transition: all 0.3s ease; /* Smooth transition for the dropdown */
        width: 100%; /* Full width */
        z-index: 999; /* Ensure it stacks on top of other content */
    }

    .navbar-links ul {
        width: 100%;
        padding: 0;
    }

    .navbar-links li {
        display: block;
        text-align: center;
        width: 100%;
        padding: 15px 0; /* More padding for tap targets */
    }

    .toggle-button {
        display: block;
    }

    .navbar-links.active {
        display: flex;
    }
}


/* Content styles */
.content {
    padding: 16px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
