/* Reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 0;
    margin: 0;
    padding-bottom: 100px; /* Adjust this value so it's equal to or greater than the height of your footer */
}

/* Main content styles */
main {
    padding: 20px;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative; /* Added to support absolute positioning of the toggle button */
}

.brand-title {
    font-size: 1.5em;
}

.navbar-links ul {
    list-style: none;
}

.navbar-links li {
    display: inline;
    padding: 0 20px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #0088a9;
}

/*H1 and H2 styles */
h1 {
font-size: 2.5em; 
margin-bottom: 0.5em;
text-align: center;
}

h2 {
    font-size: 2em; /* 32px if the base font size is 16px */
    margin-bottom: 0.75em;
    text-align: center;
 }
    
    /* Text content styles */
p {
    font-size: 1em; 
    margin-bottom: 1em; 
    text-align: center;
}
    
    /* Image styles */
img {
    max-width: 100%;
    height: auto; 
    margin-bottom: 1em; 
    display: block; /* Images are inline by default, so set them to block to enable margin auto */
    margin: 0 auto; /* This will center the image in the container */
    /* other styles */
}

.legal-text {
    margin: 20px 0; /* Add some vertical spacing around the legal text */
    padding: 10px; /* Add some padding inside the legal text sections */
    background-color: #f7f7f7; /* A light background color for contrast (optional) */
    border-left: 4px solid #333; /* A left border for styling (optional) */
}

.legal-text ul {
    list-style-position: outside; /* Position the bullet outside the padding area */
    padding-left: 20px; /* Adjust this value as needed for your design */
    list-style-type: none;
}

.legal-text li {
    margin-bottom: 10px; /* Adds some space between list items */
    text-indent: -20px; /* Adjusts text alignment if needed */
    line-height: 1.6; /* Adjusts the line height for better readability */
}

#home {
    padding-top: 0; /* Remove padding at the top of the home section if needed */
    display: block;
    width: 100%;
}
#banner-section {
    background-color: #333; 
}

.banner-image {
    display: block;
    max-width: 1200px; /* Set maximum width for the image */
    max-height: 400px; /* Keep the original height to prevent pixelation */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the banner */
    background-color: #333; 
}

    
    /* Contact form styles */
form {
    max-width: 600px; 
    margin: 2em auto;
    display: block; /* Ensure the form is a block-level element */
    margin: 0 auto; /* Center the form in the container */
    /* other styles */
}
    
form label {
    display: block; /* Make labels block-level for easy styling */
    margin-bottom: 0.5em;
}
    
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%; 
    padding: 0.5em;
    margin-bottom: 1em; 
    border: 1px solid #ccc;
}
    
form button {
    padding: 0.5em 1em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
    
form button:hover {
    background-color: #555; /* Slightly darker on hover */
}

/* Hamburger button styles */
.toggle-button {
    display: none; /* Hidden by default */
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Ensures it is on top of other elements */
}

.toggle-button .bar {
    display: block; /* Ensures bars are shown */
    height: 2px;
    width: 25px;
    background-color: white;
    margin: 5px 0; /* Adjust spacing between bars if needed */
}

/* Responsive styles */
@media (max-width: 600px) {

    .banner-image {
        width: 100%; /* Full width of the container */
        max-height: none; /* Allow the height to scale down */
        
    }

    .navbar {
        position: relative; /* Ensure navbar is positioned to contain absolute children */
        padding: 10px; /* Less padding on small screens */
    }

    .navbar-links {
        position: absolute;
        top: 80px; /* Adjust based on your navbar height */
        left: 0;
        right: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #333; /* Same as navbar for consistency */
        transition: all 0.3s ease; /* Smooth transition for the dropdown */
        width: 100%; /* Full width */
        z-index: 999; /* Ensure it stacks on top of other content */
    }

    .navbar-links ul {
        width: 100%;
        padding: 0;
    }

    .navbar-links li {
        display: block;
        text-align: center;
        width: 100%;
        padding: 15px 0; /* More padding for tap targets */
    }

    .toggle-button {
        display: block;
    }

    .navbar-links.active {
        display: flex;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    /* Adjust form input and button sizes for easier interaction on touch devices */
    form input[type="text"],
    form input[type="email"],
    form textarea,
    form button {
    padding: 1em; /* Increase padding to create larger tap targets */
}

}


/* Content styles */
.content {
    padding: 16px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
